In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import time
import datetime

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import os
print(os.listdir("./input"))

from sklearn.model_selection import GroupKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
import lightgbm as lgb

from sklearn.model_selection import KFold

['dipole_moments.csv', 'magnetic_shielding_tensors.csv', 'mulliken_charges.csv', 'potential_energy.csv', 'sample_submission.csv', 'scalar_coupling_contributions.csv', 'structures.csv', 'structures.zip', 'test.csv', 'train.csv']

In [2]:
train = pd.read_csv('./input/train.csv')
test = pd.read_csv('./input/test.csv')

display(train.head())

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [3]:
structures = pd.read_csv('./input/structures.csv')
display(structures.head())

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

In [10]:
#scalar_coupling_contributions = pd.read_csv('./input/scalar_coupling_contributions.csv')
#display(scalar_coupling_contributions.head())

#train = pd.merge(train, scalar_coupling_contributions, how = 'left',
#                  left_on  = ['molecule_name', 'atom_index_0', 'atom_index_1', 'type'],
#                  right_on = ['molecule_name', 'atom_index_0', 'atom_index_1', 'type'])

Chemical Bond Calculation  
get from here - https://www.kaggle.com/adrianoavelar/bond-calculaltion-lb-0-82

In [4]:
from tqdm import tqdm_notebook as tqdm
atomic_radius = {'H':0.38, 'C':0.77, 'N':0.75, 'O':0.73, 'F':0.71} # Without fudge factor

fudge_factor = 0.05
atomic_radius = {k:v + fudge_factor for k,v in atomic_radius.items()}
print(atomic_radius)

electronegativity = {'H':2.2, 'C':2.55, 'N':3.04, 'O':3.44, 'F':3.98}

#structures = pd.read_csv(structures, dtype={'atom_index':np.int8})

atoms = structures['atom'].values
atoms_en = [electronegativity[x] for x in tqdm(atoms)]
atoms_rad = [atomic_radius[x] for x in tqdm(atoms)]

structures['EN'] = atoms_en
structures['rad'] = atoms_rad

display(structures.head())

i_atom = structures['atom_index'].values
p = structures[['x', 'y', 'z']].values
p_compare = p
m = structures['molecule_name'].values
m_compare = m
r = structures['rad'].values
r_compare = r

source_row = np.arange(len(structures))
max_atoms = 28

bonds = np.zeros((len(structures)+1, max_atoms+1), dtype=np.int8)
bond_dists = np.zeros((len(structures)+1, max_atoms+1), dtype=np.float32)

print('Calculating bonds')

for i in tqdm(range(max_atoms-1)):
    p_compare = np.roll(p_compare, -1, axis=0)
    m_compare = np.roll(m_compare, -1, axis=0)
    r_compare = np.roll(r_compare, -1, axis=0)
    
    mask = np.where(m == m_compare, 1, 0) #Are we still comparing atoms in the same molecule?
    dists = np.linalg.norm(p - p_compare, axis=1) * mask
    r_bond = r + r_compare
    
    bond = np.where(np.logical_and(dists > 0.0001, dists < r_bond), 1, 0)
    
    source_row = source_row
    target_row = source_row + i + 1 #Note: Will be out of bounds of bonds array for some values of i
    target_row = np.where(np.logical_or(target_row > len(structures), mask==0), len(structures), target_row) #If invalid target, write to dummy row
    
    source_atom = i_atom
    target_atom = i_atom + i + 1 #Note: Will be out of bounds of bonds array for some values of i
    target_atom = np.where(np.logical_or(target_atom > max_atoms, mask==0), max_atoms, target_atom) #If invalid target, write to dummy col
    
    bonds[(source_row, target_atom)] = bond
    bonds[(target_row, source_atom)] = bond
    bond_dists[(source_row, target_atom)] = dists
    bond_dists[(target_row, source_atom)] = dists

bonds = np.delete(bonds, axis=0, obj=-1) #Delete dummy row
bonds = np.delete(bonds, axis=1, obj=-1) #Delete dummy col
bond_dists = np.delete(bond_dists, axis=0, obj=-1) #Delete dummy row
bond_dists = np.delete(bond_dists, axis=1, obj=-1) #Delete dummy col

print('Counting and condensing bonds')

bonds_numeric = [[i for i,x in enumerate(row) if x] for row in tqdm(bonds)]
bond_lengths = [[dist for i,dist in enumerate(row) if i in bonds_numeric[j]] for j,row in enumerate(tqdm(bond_dists))]
bond_lengths_mean = [ np.mean(x) for x in bond_lengths]
n_bonds = [len(x) for x in bonds_numeric]

#bond_data = {'bond_' + str(i):col for i, col in enumerate(np.transpose(bonds))}
#bond_data.update({'bonds_numeric':bonds_numeric, 'n_bonds':n_bonds})

bond_data = {'n_bonds':n_bonds, 'bond_lengths_mean': bond_lengths_mean }
bond_df = pd.DataFrame(bond_data)
structures = structures.join(bond_df)
display(structures.head(20))

{'H': 0.43, 'C': 0.8200000000000001, 'N': 0.8, 'O': 0.78, 'F': 0.76}

HBox(children=(IntProgress(value=0, max=2358657), HTML(value='')))

HBox(children=(IntProgress(value=0, max=2358657), HTML(value='')))

      molecule_name  atom_index atom         x         y         z    EN   rad
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001  2.55  0.82
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976  2.20  0.43
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277  2.20  0.43
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644  2.20  0.43
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397  2.20  0.43

Calculating bonds

HBox(children=(IntProgress(value=0, max=27), HTML(value='')))

Counting and condensing bonds

HBox(children=(IntProgress(value=0, max=2358657), HTML(value='')))

HBox(children=(IntProgress(value=0, max=2358657), HTML(value='')))

,molecule_name,atom_index,atom,x,y,z,EN,rad,n_bonds,bond_lengths_mean
0,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,2.55,0.82,4,1.091950
1,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,2.20,0.43,1,1.091953
2,dsgdb9nsd_000001,2,H,1.011731,1.463751,0.000277,2.20,0.43,1,1.091952
3,dsgdb9nsd_000001,3,H,-0.540815,1.447527,-0.876644,2.20,0.43,1,1.091946
4,dsgdb9nsd_000001,4,H,-0.523814,1.437933,0.906397,2.20,0.43,1,1.091948
5,dsgdb9nsd_000002,0,N,-0.040426,1.024108,0.062564,3.04,0.80,3,1.017195
6,dsgdb9nsd_000002,1,H,0.017257,0.012545,-0.027377,2.20,0.43,1,1.017190
7,dsgdb9nsd_000002,2,H,0.915789,1.358745,-0.028758,2.20,0.43,1,1.017187
8,dsgdb9nsd_000002,3,H,-0.520278,1.343532,-0.775543,2.20,0.43,1,1.017208
9,dsgdb9nsd_000003,0,O,-0.034360,0.977540,0.007602,3.44,0.78,2,0.962107
10,dsgdb9nsd_000003,1,H,0.064766,0.020572,0.001535,2.20,0.43,1,0.962107
11,dsgdb9nsd_000003,2,H,0.871790,1.300792,0.000693,2.20,0.43,1,0.962107
12,dsgdb9nsd_000004,0,C,0.599539,0.000000,1.000000,2.55,0.82,2,1.130589
13,dsgdb9nsd_000004,1,C,-0.599539,0.000000,1.000000,2.55,0.82,2,1.130589
14,dsgdb9nsd_000004,2,H,-1.661639,0.000000,1.000000,2.20,0.43,1,1.062099
15,dsgdb9nsd_000004,3,H,1.661639,0.000000,1.000000,2.20,0.43,1,1.062099
16,dsgdb9nsd_000005,0,C,-0.013324,1.132466,0.008276,2.55,0.82,2,1.109173
17,dsgdb9nsd_000005,1,N,0.002311,-0.019159,0.001929,3.04,0.80,1,1.151748
18,dsgdb9nsd_000005,2,H,-0.027803,2.198949,0.014154,2.20,0.43,1,1.066598
19,dsgdb9nsd_000007,0,C,-0.018704,1.525582,0.010433,2.55,0.82,4,1.203627

In [5]:
# Map the atom structure data into train and test files
def map_atom_info(df, atom_idx):
    df = pd.merge(df, structures, how = 'left',
                  left_on  = ['molecule_name', f'atom_index_{atom_idx}'],
                  right_on = ['molecule_name',  'atom_index'])
    
    df = df.drop('atom_index', axis=1)
    df = df.rename(columns={'atom': f'atom_{atom_idx}',
                            'x': f'x_{atom_idx}',
                            'y': f'y_{atom_idx}',
                            'z': f'z_{atom_idx}'})
    return df

train = map_atom_info(train, 0)
train = map_atom_info(train, 1)

test = map_atom_info(test, 0)
test = map_atom_info(test, 1)

display(train.head())

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_0,x_0,y_0,z_0,...,n_bonds_x,bond_lengths_mean_x,atom_1,x_1,y_1,z_1,EN_y,rad_y,n_bonds_y,bond_lengths_mean_y
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076,H,0.002150,-0.006031,0.001976,...,1,1.091953,C,-0.012698,1.085804,0.008001,2.55,0.82,4,1.091950
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,H,0.002150,-0.006031,0.001976,...,1,1.091953,H,1.011731,1.463751,0.000277,2.20,0.43,1,1.091952
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,H,0.002150,-0.006031,0.001976,...,1,1.091953,H,-0.540815,1.447527,-0.876644,2.20,0.43,1,1.091946
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,H,0.002150,-0.006031,0.001976,...,1,1.091953,H,-0.523814,1.437933,0.906397,2.20,0.43,1,1.091948
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074,H,1.011731,1.463751,0.000277,...,1,1.091952,C,-0.012698,1.085804,0.008001,2.55,0.82,4,1.091950

Distance

In [6]:
train_p_0 = train[['x_0', 'y_0', 'z_0']].values
train_p_1 = train[['x_1', 'y_1', 'z_1']].values
test_p_0 = test[['x_0', 'y_0', 'z_0']].values
test_p_1 = test[['x_1', 'y_1', 'z_1']].values

train['dist'] = np.linalg.norm(train_p_0 - train_p_1, axis=1)
test['dist'] = np.linalg.norm(test_p_0 - test_p_1, axis=1)

train['dist_x'] = (train['x_0'] - train['x_1']) ** 2
test['dist_x'] = (test['x_0'] - test['x_1']) ** 2
train['dist_y'] = (train['y_0'] - train['y_1']) ** 2
test['dist_y'] = (test['y_0'] - test['y_1']) ** 2
train['dist_z'] = (train['z_0'] - train['z_1']) ** 2
test['dist_z'] = (test['z_0'] - test['z_1']) ** 2

#Type Read more here - https://www.kaggle.com/artgor/molecular-properties-eda-and-models You can find more info there
train['type_0'] = train['type'].apply(lambda x: x[0])
test['type_0'] = test['type'].apply(lambda x: x[0])

In [7]:
def group_mean_log_mae(y_true, y_pred, groups, floor=1e-9):
    """
    fast metric from https://www.kaggle.com/uberkinder/efficient-metric
    """
    maes = (y_true-y_pred).abs().groupby(groups).mean()
    return np.log(maes.map(lambda x: max(x, floor))).mean()

def get_score(y_true, y_pred):
    return group_mean_log_mae(y_true, y_pred, train['type'])

In [8]:
display(train.head())

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_0,x_0,y_0,z_0,...,z_1,EN_y,rad_y,n_bonds_y,bond_lengths_mean_y,dist,dist_x,dist_y,dist_z,type_0
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076,H,0.002150,-0.006031,0.001976,...,0.008001,2.55,0.82,4,1.091950,1.091953,0.000220,1.192105,0.000036,1
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,H,0.002150,-0.006031,0.001976,...,0.000277,2.20,0.43,1,1.091952,1.783120,1.019253,2.160261,0.000003,2
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,H,0.002150,-0.006031,0.001976,...,-0.876644,2.20,0.43,1,1.091946,1.783147,0.294812,2.112831,0.771973,2
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,H,0.002150,-0.006031,0.001976,...,0.906397,2.20,0.43,1,1.091948,1.783157,0.276638,2.085032,0.817978,2
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074,H,1.011731,1.463751,0.000277,...,0.008001,2.55,0.82,4,1.091950,1.091952,1.049455,0.142844,0.000060,1

In [12]:
# this function get from https://www.kaggle.com/artgor/brute-force-feature-engineering

def create_features(df):
    df['molecule_couples'] = df.groupby('molecule_name')['id'].transform('count')
    df['molecule_dist_mean'] = df.groupby('molecule_name')['dist'].transform('mean')
    df['molecule_dist_min'] = df.groupby('molecule_name')['dist'].transform('min')
    df['molecule_dist_max'] = df.groupby('molecule_name')['dist'].transform('max')
    df['atom_0_couples_count'] = df.groupby(['molecule_name', 'atom_index_0'])['id'].transform('count')
    df['atom_1_couples_count'] = df.groupby(['molecule_name', 'atom_index_1'])['id'].transform('count')
    
    df[f'molecule_atom_index_0_x_1_std'] = df.groupby(['molecule_name', 'atom_index_0'])['x_1'].transform('std')
    df[f'molecule_atom_index_0_y_1_mean'] = df.groupby(['molecule_name', 'atom_index_0'])['y_1'].transform('mean')
    df[f'molecule_atom_index_0_y_1_mean_diff'] = df[f'molecule_atom_index_0_y_1_mean'] - df['y_1']
    df[f'molecule_atom_index_0_y_1_mean_div'] = df[f'molecule_atom_index_0_y_1_mean'] / df['y_1']
    df[f'molecule_atom_index_0_y_1_max'] = df.groupby(['molecule_name', 'atom_index_0'])['y_1'].transform('max')
    df[f'molecule_atom_index_0_y_1_max_diff'] = df[f'molecule_atom_index_0_y_1_max'] - df['y_1']
    df[f'molecule_atom_index_0_y_1_std'] = df.groupby(['molecule_name', 'atom_index_0'])['y_1'].transform('std')
    df[f'molecule_atom_index_0_z_1_std'] = df.groupby(['molecule_name', 'atom_index_0'])['z_1'].transform('std')
    df[f'molecule_atom_index_0_dist_mean'] = df.groupby(['molecule_name', 'atom_index_0'])['dist'].transform('mean')
    df[f'molecule_atom_index_0_dist_mean_diff'] = df[f'molecule_atom_index_0_dist_mean'] - df['dist']
    df[f'molecule_atom_index_0_dist_mean_div'] = df[f'molecule_atom_index_0_dist_mean'] / df['dist']
    df[f'molecule_atom_index_0_dist_max'] = df.groupby(['molecule_name', 'atom_index_0'])['dist'].transform('max')
    df[f'molecule_atom_index_0_dist_max_diff'] = df[f'molecule_atom_index_0_dist_max'] - df['dist']
    df[f'molecule_atom_index_0_dist_max_div'] = df[f'molecule_atom_index_0_dist_max'] / df['dist']
    df[f'molecule_atom_index_0_dist_min'] = df.groupby(['molecule_name', 'atom_index_0'])['dist'].transform('min')
    df[f'molecule_atom_index_0_dist_min_diff'] = df[f'molecule_atom_index_0_dist_min'] - df['dist']
    df[f'molecule_atom_index_0_dist_min_div'] = df[f'molecule_atom_index_0_dist_min'] / df['dist']
    df[f'molecule_atom_index_0_dist_std'] = df.groupby(['molecule_name', 'atom_index_0'])['dist'].transform('std')
    df[f'molecule_atom_index_0_dist_std_diff'] = df[f'molecule_atom_index_0_dist_std'] - df['dist']
    df[f'molecule_atom_index_0_dist_std_div'] = df[f'molecule_atom_index_0_dist_std'] / df['dist']
    df[f'molecule_atom_index_1_dist_mean'] = df.groupby(['molecule_name', 'atom_index_1'])['dist'].transform('mean')
    df[f'molecule_atom_index_1_dist_mean_diff'] = df[f'molecule_atom_index_1_dist_mean'] - df['dist']
    df[f'molecule_atom_index_1_dist_mean_div'] = df[f'molecule_atom_index_1_dist_mean'] / df['dist']
    df[f'molecule_atom_index_1_dist_max'] = df.groupby(['molecule_name', 'atom_index_1'])['dist'].transform('max')
    df[f'molecule_atom_index_1_dist_max_diff'] = df[f'molecule_atom_index_1_dist_max'] - df['dist']
    df[f'molecule_atom_index_1_dist_max_div'] = df[f'molecule_atom_index_1_dist_max'] / df['dist']
    df[f'molecule_atom_index_1_dist_min'] = df.groupby(['molecule_name', 'atom_index_1'])['dist'].transform('min')
    df[f'molecule_atom_index_1_dist_min_diff'] = df[f'molecule_atom_index_1_dist_min'] - df['dist']
    df[f'molecule_atom_index_1_dist_min_div'] = df[f'molecule_atom_index_1_dist_min'] / df['dist']
    df[f'molecule_atom_index_1_dist_std'] = df.groupby(['molecule_name', 'atom_index_1'])['dist'].transform('std')
    df[f'molecule_atom_index_1_dist_std_diff'] = df[f'molecule_atom_index_1_dist_std'] - df['dist']
    df[f'molecule_atom_index_1_dist_std_div'] = df[f'molecule_atom_index_1_dist_std'] / df['dist']
    df[f'molecule_atom_1_dist_mean'] = df.groupby(['molecule_name', 'atom_1'])['dist'].transform('mean')
    df[f'molecule_atom_1_dist_min'] = df.groupby(['molecule_name', 'atom_1'])['dist'].transform('min')
    df[f'molecule_atom_1_dist_min_diff'] = df[f'molecule_atom_1_dist_min'] - df['dist']
    df[f'molecule_atom_1_dist_min_div'] = df[f'molecule_atom_1_dist_min'] / df['dist']
    df[f'molecule_atom_1_dist_std'] = df.groupby(['molecule_name', 'atom_1'])['dist'].transform('std')
    df[f'molecule_atom_1_dist_std_diff'] = df[f'molecule_atom_1_dist_std'] - df['dist']
    df[f'molecule_type_0_dist_std'] = df.groupby(['molecule_name', 'type_0'])['dist'].transform('std')
    df[f'molecule_type_0_dist_std_diff'] = df[f'molecule_type_0_dist_std'] - df['dist']
    df[f'molecule_type_dist_mean'] = df.groupby(['molecule_name', 'type'])['dist'].transform('mean')
    df[f'molecule_type_dist_mean_diff'] = df[f'molecule_type_dist_mean'] - df['dist']
    df[f'molecule_type_dist_mean_div'] = df[f'molecule_type_dist_mean'] / df['dist']
    df[f'molecule_type_dist_max'] = df.groupby(['molecule_name', 'type'])['dist'].transform('max')
    df[f'molecule_type_dist_min'] = df.groupby(['molecule_name', 'type'])['dist'].transform('min')
    df[f'molecule_type_dist_std'] = df.groupby(['molecule_name', 'type'])['dist'].transform('std')
    df[f'molecule_type_dist_std_diff'] = df[f'molecule_type_dist_std'] - df['dist']

    #df = reduce_mem_usage(df)
    return df

In [13]:
train = create_features(train)
test = create_features(test)
display(train.head())

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_0,x_0,y_0,z_0,...,molecule_atom_1_dist_std_diff,molecule_type_0_dist_std,molecule_type_0_dist_std_diff,molecule_type_dist_mean,molecule_type_dist_mean_diff,molecule_type_dist_mean_div,molecule_type_dist_max,molecule_type_dist_min,molecule_type_dist_std,molecule_type_dist_std_diff
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076,H,0.002150,-0.006031,0.001976,...,-1.091950,0.000003,-1.091950,1.091950,-0.000003,0.999997,1.091953,1.091946,0.000003,-1.091950
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,H,0.002150,-0.006031,0.001976,...,-1.783106,0.000014,-1.783106,1.783146,0.000027,1.000015,1.783158,1.783120,0.000014,-1.783106
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,H,0.002150,-0.006031,0.001976,...,-1.783134,0.000014,-1.783134,1.783146,-0.000001,0.999999,1.783158,1.783120,0.000014,-1.783134
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,H,0.002150,-0.006031,0.001976,...,-1.783143,0.000014,-1.783143,1.783146,-0.000010,0.999994,1.783158,1.783120,0.000014,-1.783143
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074,H,1.011731,1.463751,0.000277,...,-1.091948,0.000003,-1.091948,1.091950,-0.000002,0.999998,1.091953,1.091946,0.000003,-1.091948

In [16]:
molecules = train.pop('molecule_name')
test = test.drop('molecule_name', axis=1)
y = train.pop('scalar_coupling_constant')

train.pop('id')
test.pop('id')

# Label Encoding
for f in ['type', 'atom_0', 'atom_1', 'type_0']:
    lbl = LabelEncoder()
    lbl.fit(list(train[f].values) + list(test[f].values))
    train[f] = lbl.transform(list(train[f].values))
    test[f] = lbl.transform(list(test[f].values))

#cat_features = ['type', 'atom_0', 'atom_1', 'type_0']

In [17]:
display(train.head())

,atom_index_0,atom_index_1,type,atom_0,x_0,y_0,z_0,EN_x,rad_x,n_bonds_x,...,molecule_atom_1_dist_std_diff,molecule_type_0_dist_std,molecule_type_0_dist_std_diff,molecule_type_dist_mean,molecule_type_dist_mean_diff,molecule_type_dist_mean_div,molecule_type_dist_max,molecule_type_dist_min,molecule_type_dist_std,molecule_type_dist_std_diff
0,1,0,0,0,0.002150,-0.006031,0.001976,2.2,0.43,1,...,-1.091950,0.000003,-1.091950,1.091950,-0.000003,0.999997,1.091953,1.091946,0.000003,-1.091950
1,1,2,3,0,0.002150,-0.006031,0.001976,2.2,0.43,1,...,-1.783106,0.000014,-1.783106,1.783146,0.000027,1.000015,1.783158,1.783120,0.000014,-1.783106
2,1,3,3,0,0.002150,-0.006031,0.001976,2.2,0.43,1,...,-1.783134,0.000014,-1.783134,1.783146,-0.000001,0.999999,1.783158,1.783120,0.000014,-1.783134
3,1,4,3,0,0.002150,-0.006031,0.001976,2.2,0.43,1,...,-1.783143,0.000014,-1.783143,1.783146,-0.000010,0.999994,1.783158,1.783120,0.000014,-1.783143
4,2,0,0,0,1.011731,1.463751,0.000277,2.2,0.43,1,...,-1.091948,0.000003,-1.091948,1.091950,-0.000002,0.999998,1.091953,1.091946,0.000003,-1.091948

In [18]:
def catboost_prediction(X, Y, X_test):
    yoof = np.zeros(len(X))
    prediction = np.zeros(len(X_test))
    n_fold = 3
    folds = KFold(n_splits=n_fold, shuffle=True, random_state=11)

    for fold_n, (train_index, valid_index) in enumerate(folds.split(X)):
        print(f'Fold {fold_n + 1} started at {time.ctime()}')

        columns = train.columns
        X_train, X_valid = X[columns].iloc[train_index], X[columns].iloc[valid_index]
        y_train, y_valid = Y.iloc[train_index], Y.iloc[valid_index]

        model = CatBoostRegressor(eval_metric='MAE', 
                                  loss_function='MAE',
                                  learning_rate=1,
                                  max_depth=13,
                                  n_estimators=100)
        model.fit(X_train, y_train, eval_set=(X_valid, y_valid), cat_features=[], use_best_model=True, verbose=False)

        y_pred_valid = model.predict(X_valid)
        yoof[valid_index] = y_pred_valid.reshape(-1,)
        prediction += model.predict(X_test)

    prediction /= n_fold
    print ("Score is " + str(get_score(Y, yoof)))
    
    return prediction, yoof

In [19]:
# partly get from https://www.kaggle.com/adrianoavelar/eachtype
def predict_by_types(X, Y, X_test):
    X_short = pd.DataFrame({'ind': list(X.index), 'type': X['type'].values, 'oof': [0] * len(X), 'target': Y.values})
    X_short_test = pd.DataFrame({'ind': list(X_test.index), 'type': X_test['type'].values, 'prediction': [0] * len(X_test)})
    
    for t in X['type'].unique():
        print(f'Training of type {t} {time.ctime()}')
        X_t = X.loc[X['type'] == t]
        X_test_t = X_test.loc[X_test['type'] == t]
        y_t = X_short.loc[X_short['type'] == t, 'target']
        prediction, yoof = catboost_prediction(X_t, y_t, X_test_t)
        X_short.loc[X_short['type'] == t, 'oof'] = yoof
        X_short_test.loc[X_short_test['type'] == t, 'prediction'] = prediction
        
    print ("Score is " + str(get_score(Y, X_short['oof'])))
    return X_short_test['prediction']

In [20]:
prediction = predict_by_types(train, y, test)

Training of type 0 Sat Jul 13 15:46:29 2019
Fold 1 started at Sat Jul 13 15:46:30 2019
Fold 2 started at Sat Jul 13 15:47:22 2019
Fold 3 started at Sat Jul 13 15:48:14 2019
Score is 3.8074268033612935
Training of type 3 Sat Jul 13 15:49:08 2019
Fold 1 started at Sat Jul 13 15:49:08 2019
Fold 2 started at Sat Jul 13 15:51:25 2019
Fold 3 started at Sat Jul 13 15:53:39 2019
Score is -0.657641057085437
Training of type 1 Sat Jul 13 15:55:55 2019
Fold 1 started at Sat Jul 13 15:55:56 2019
Fold 2 started at Sat Jul 13 15:56:55 2019
Fold 3 started at Sat Jul 13 15:57:54 2019
Score is 1.5107583849088535
Training of type 4 Sat Jul 13 15:58:52 2019
Fold 1 started at Sat Jul 13 15:58:52 2019
Fold 2 started at Sat Jul 13 16:00:48 2019
Fold 3 started at Sat Jul 13 16:02:42 2019
Score is -0.554453033290384
Training of type 2 Sat Jul 13 16:04:39 2019
Fold 1 started at Sat Jul 13 16:04:40 2019
Fold 2 started at Sat Jul 13 16:08:16 2019
Fold 3 started at Sat Jul 13 16:11:56 2019
Score is -0.05107482262707605
Training of type 6 Sat Jul 13 16:15:34 2019
Fold 1 started at Sat Jul 13 16:15:35 2019
Fold 2 started at Sat Jul 13 16:18:11 2019
Fold 3 started at Sat Jul 13 16:20:50 2019
Score is -0.5875530607120892
Training of type 5 Sat Jul 13 16:23:28 2019
Fold 1 started at Sat Jul 13 16:23:29 2019
Fold 2 started at Sat Jul 13 16:27:57 2019
Fold 3 started at Sat Jul 13 16:32:23 2019
Score is 0.009597588829435493
Training of type 7 Sat Jul 13 16:36:50 2019
Fold 1 started at Sat Jul 13 16:36:51 2019
Fold 2 started at Sat Jul 13 16:38:51 2019
Fold 3 started at Sat Jul 13 16:40:53 2019
Score is -0.8226050213384111
Score is 0.3318069727557731

(eval_metric='MAE', loss_function='MAE', learning_rate=1,  max_depth=13,  n_estimators=100) with type splited. Score is 0.5184641725896271  

(eval_metric='MAE', loss_function='MAE', learning_rate=1,  max_depth=13,  n_estimators=100) with type splited and 50 new feacheres. Score is 0.3318069727557731

In [35]:
sample_submission = pd.read_csv('./input/sample_submission.csv', index_col='id')

benchmark = sample_submission.copy()
benchmark['scalar_coupling_constant'] = prediction.values
benchmark.to_csv('atomic_distance_benchmark.csv')