In [1]:
import pandas as pd
import numpy as np

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [13]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

Выделим в обучающей выборке данные и ответ

In [14]:
X_train = train_df.drop("PassengerId", axis=1).drop("Survived", axis=1).drop("Name", axis=1).drop("Ticket", axis=1).drop("Cabin", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId", axis=1).drop("Name", axis=1).drop("Ticket", axis=1).drop("Cabin", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape
print "ok"

ok

Приведем текстовые поля к числам, если это возможно. Если невозможно, то дропну пока их. Дальше думать буду)

In [19]:
X_train.Sex = X_train.Sex.map( {'male': 0, 'female': 1} ).astype(int)
X_test.Sex = X_test.Sex.map( {'male': 0, 'female': 1} ).astype(int)

In [15]:
X_train.Embarked = X_train.Embarked.fillna('D')
X_test.Embarked = X_test.Embarked.fillna('D')
X_train.Embarked = X_train.Embarked.map( {'S': 0, 'C': 1, 'Q': 2, 'D' :3} ).astype(int)
X_test.Embarked = X_test.Embarked.map( {'S': 0, 'C': 1, 'Q': 2, 'D' :3} ).astype(int)
X_test.tail()

     Pclass     Sex   Age  SibSp  Parch      Fare  Embarked
413       3    male   NaN      0      0    8.0500         0
414       1  female  39.0      0      0  108.9000         1
415       3    male  38.5      0      0    7.2500         0
416       3    male   NaN      0      0    8.0500         0
417       3    male   NaN      1      1   22.3583         1

In [16]:
X_train.Pclass = X_train.Pclass.fillna(-1)
X_train.Sex = X_train.Sex.fillna(-1)
X_train.Age = X_train.Age.fillna(-1)
X_train.SibSp = X_train.SibSp.fillna(-1)
X_train.Parch = X_train.Parch.fillna(-1)
X_train.Fare = X_train.Fare.fillna(-1)

X_test.Pclass = X_test.Pclass.fillna(-1)
X_test.Sex = X_test.Sex.fillna(-1)
X_test.Age = X_test.Age.fillna(-1)
X_test.SibSp = X_test.SibSp.fillna(-1)
X_test.Parch = X_test.Parch.fillna(-1)
X_test.Fare = X_test.Fare.fillna(-1)

In [17]:
X_test.tail()

     Pclass     Sex   Age  SibSp  Parch      Fare  Embarked
413       3    male  -1.0      0      0    8.0500         0
414       1  female  39.0      0      0  108.9000         1
415       3    male  38.5      0      0    7.2500         0
416       3    male  -1.0      0      0    8.0500         0
417       3    male  -1.0      1      1   22.3583         1

In [20]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

In [21]:
Y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

Посчитаем ответ.

In [22]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
        
    })
submission.to_csv("submission.csv", index=False)